### login.json ###

{
	"fields" : [
        {
            "field" : {
                "id": "username",
                "label": "Username",
                "type": "text",
                "placeholder": "Username or email address",
                "value": "",
                "fieldNote": "Enter your username or email address"
            }
        }
    ],
    "textarea" : false,
	"btnText" : "Log Me In!"
}
